<!--MAIN NAVIGATION-->
<nav id="mainnav-container">
    <div id="mainnav">
        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">

                    <!--Profile Widget-->
                    <!--================================-->
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap">
                            <div class="pad-btm">
                                <!--<span class="label label-success pull-right">New</span>-->
                                <img class="img-circle img-sm img-border" src="{$avatar|get_thumb=46,46,1}" alt="{:session('backend_user.admin_realname')}">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle">
                                    <i class="dropdown-caret"></i>
                                </span>
                                <p class="mnp-name">{:session('backend_user.admin_realname')}</p>
                                <span class="mnp-desc">{:session('backend_user.admin_email')}</span>
                            </a>
                        </div>
                        <div id="profile-nav" class="collapse list-group bg-trans">
                            <a href="{:url('admin/Admin/profile')}" class="list-group-item">
                                <i class="demo-pli-male icon-lg icon-fw"></i> {:lang('View Profile')}
                            </a>
                            <!--<a href="#" class="list-group-item">
                                <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="demo-pli-information icon-lg icon-fw"></i> Help
                            </a>-->
                            <a href="{:url('admin/Login/logout')}" class="list-group-item">
                                <i class="demo-pli-unlock icon-lg icon-fw"></i> {:lang('Logout')}
                            </a>
                        </div>
                    </div>


                    <!--Shortcut buttons-->
                    <!--================================-->
                    <div id="mainnav-shortcut">
                        <ul class="list-unstyled">
                            <li class="col-xs-3" data-content="My Profile">
                                <a class="shortcut-grid" href="{:url('admin/Admin/profile')}">
                                    <i class="demo-psi-male"></i>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Messages">
                                <a class="shortcut-grid" href="#">
                                    <i class="demo-psi-speech-bubble-3"></i>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Activity">
                                <a class="shortcut-grid" href="#">
                                    <i class="demo-psi-thunder"></i>
                                </a>
                            </li>
                            <li class="col-xs-3" data-content="Lock Screen">
                                <a class="shortcut-grid" href="#">
                                    <i class="demo-psi-lock-2"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--================================-->
                    <!--End shortcut buttons-->

                    <ul id="mainnav-menu" class="list-group">

                        <!--Category name-->
                        <li class="list-header">{:lang('Navigation')}</li>
                        <!--一级菜单遍历开始-->
                        {foreach name="menus" item="v"}
                        {if condition="!empty($v['_child'])"}
                        <li class="{if condition='(count($menus_curr) egt 1) AND ($menus_curr[0] eq $v.id)'}open{/if}">
                            <a href="javascript:void(0);" class="dropdown-toggle">
                                <i class="menu-icon fa {$v.css}"></i>
                                <span class="menu-title">{$v.title}</span>
                                <i class="arrow"></i>
                            </a>
                            <ul class="collapse">
                                <!--二级菜单遍历开始-->
                                {foreach name="v._child" item="vv"}
                                {if condition="!empty($vv['_child'])"}
                                <li class="{if condition='(count($menus_curr) egt 2) AND ($menus_curr[1] eq $vv.id)'}active open{/if}">
                                    <a href="javascript:void(0);" class="dropdown-toggle">
                                        <i class="menu-icon fa {$vv.css}"></i>
                                        {$vv.title}
                                        <i class="arrow"></i>
                                    </a>
                                    <ul class="collapse">
                                        <!--三级菜单遍历开始-->
                                        {foreach name="vv._child" item="vvv"}
                                        <li class="{if condition='(count($menus_curr) egt 3) AND ($menus_curr[2] eq $vvv.id)'}active{/if}">
                                            <a href="{:url($vvv.name)}">
                                                {$vvv.title}
                                                <i class="arrow"></i>
                                            </a>
                                        </li>
                                        {/foreach}<!--三级菜单遍历结束-->
                                    </ul>
                                </li>
                                {else /}
                                <li class="{if condition='(count($menus_curr) egt 2) AND ($menus_curr[1] eq $vv.id)'}active{/if}">
                                    <a href="{:url($vv.name)}">
                                        {$vv.title}
                                        <i class="arrow"></i>
                                    </a>
                                </li>
                                {/if}
                                {/foreach}<!--二级菜单遍历结束-->
                            </ul>
                        </li>
                        {else /}
                        <li class="{if condition='(count($menus_curr) egt 1) AND ($menus_curr[0] eq $v.id)'}active{/if}">
                            <a href="{:url($v.name)}">
                                {$v.title}
                                <i class="arrow"></i>
                            </a>
                        </li>
                        {/if}
                        {/foreach}<!--一级菜单遍历结束-->
                    </ul>

                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->
    </div>
</nav>
<!--END MAIN NAVIGATION-->