    <!--JAVASCRIPT-->
    <script src="__PUBLIC__/plugins/pace/pace.min.js"></script>
    <script src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/nifty.min.js"></script>
    <!-- change background image -->
    <script src="__PUBLIC__/js/demo/bg-images.js"></script>

    <!-- validation form -->
    <script src="__PUBLIC__/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="__PUBLIC__/plugins/masked-input/jquery.maskedinput.min.js"></script>

    <!-- change background image -->
    <script src="__PUBLIC__/js/demo/bg-images.js"></script>

    <!-- backend script function -->
    <script src="__PUBLIC__/js/ai-backend.js"></script>