    <!--STYLESHEET-->
    <link href="__PUBLIC__/css/open-sans/open-sans.css" rel="stylesheet">
    <!--=================================================-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/nifty.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/demo/nifty-demo.min.css" rel="stylesheet">
    <link href="__PUBLIC__/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <link href="__PUBLIC__/plugins/pace/pace.min.css" rel="stylesheet">

    <!-- validation form -->
    <link href="__PUBLIC__/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">