<!--STYLESHEET-->
<link href="__PUBLIC__/css/open-sans/open-sans.css" rel="stylesheet">
<!--=================================================-->
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<!--Bootstrap Stylesheet [ REQUIRED ]-->
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<!--Nifty Stylesheet [ REQUIRED ]-->
<link href="__PUBLIC__/css/nifty.min.css" rel="stylesheet">
<!--Nifty Premium Icon [ DEMONSTRATION ]-->
<link href="__PUBLIC__/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
<!--Demo [ DEMONSTRATION ]-->
<link href="__PUBLIC__/css/demo/nifty-demo.min.css" rel="stylesheet">
<!--Magic Checkbox [ OPTIONAL ]-->
<link href="__PUBLIC__/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

{if condition="!empty($validationForm)"}
<!--Bootstrap Validator [ OPTIONAL ]-->
<link href="__PUBLIC__/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">
{/if}