{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">
    <!--主题-->
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {if condition="isset($sug)"}
                修改留言信息
                {else}
                添加留言信息
                {/if}
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal ajaxForm2" name="form0" method="post" action="{:url('admin/Plug/plug_sug_save')}">
                {if condition="isset($sug)"}
                <input type="hidden" name="plug_sug_id" value="{$sug.plug_sug_id}"/>
                {/if}

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="plug_sug_name"> 姓名： </label>
                    <div class="col-sm-10">
                        <input type="text" name="plug_sug_name" id="plug_sug_name" placeholder="姓名" class="col-xs-10 col-sm-6" value="{if condition='isset($sug)'}{$sug.plug_sug_name}{/if}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="plug_sug_email"> 邮箱： </label>
                    <div class="col-sm-10">
                        <input type="text" name="plug_sug_email" id="plug_sug_email" placeholder="邮箱" class="col-xs-10 col-sm-6" value="{if condition='isset($sug)'}{$sug.plug_sug_email}{/if}" readonly/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="plug_sug_ip"> 用户IP： </label>
                    <div class="col-sm-10">
                        <input type="text" name="plug_sug_ip" id="plug_sug_ip" placeholder="用户IP" class="col-xs-10 col-sm-6" value="{if condition='isset($sug)'}{$sug.plug_sug_ip}{/if}" readonly/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="plug_sug_content"> 问题： </label>
                    <div class="col-sm-10">
                        <textarea name="plug_sug_content" id="plug_sug_content" placeholder="必填：问题" class="col-xs-10 col-sm-6" required>{if condition='isset($sug)'}{$sug.plug_sug_content}{/if}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="is_shown"> 是否审核： </label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <input name="is_shown" id="is_shown" value="1"{if condition="isset($sug) && $sug.is_shown"} checked{/if} class="ace ace-switch ace-switch-4 btn-flat" type="checkbox"/>
                        <span class="lbl">&nbsp;&nbsp;默认不推送</span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <input class="ace ace-checkbox-2" name="continue" type="checkbox" value="1" title=""/>
                        <span class="lbl"> 发布后继续</span>
                        <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>保存</button>
                        <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- /.page-content -->
{/block}
{block name="scripts"}
<script>
</script>
{/block}