{extend name="admin@layouts:framework" /}
{block name="main-content"}
<div class="row">
    <div class="col-sm-12">
        <div class="tab-base">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#basic">{:lang('Basic settings')}</a></li>
                <li><a data-toggle="tab" href="#contact">{:lang('Contact information')}</a></li>
                <li><a data-toggle="tab" href="#seo">{:lang('SEO Settings')}</a></li>
            </ul>
            <div class="tab-content">
                <form class="form-horizontal form-padding ajaxForm2" name="sys" method="post" action="{:url('admin/Sys/runsys')}">

                    <!-- ---------------------------basic settings----------------------------- -->
                    <div id="basic" class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="site_name"> 站点名称 <em>*</em></label>
                                <div class="col-sm-8 col-md-5">
                                    <input type="text" name="options[site_name]" id="site_name" value="{$sys.site_name}" class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="site_host"> 站点网址 <em>*</em></label>
                                <div class="col-sm-8 col-md-5">
                                    <input type="url" name="options[site_host]" id="site_host" value="{$sys.site_host}" class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="site_tpl"> 站点主题(PC) </label>
                                <div class="col-sm-8 col-md-5">
                                    <select name="options[site_tpl]" id="site_tpl" class="form-control" required>
                                        {foreach name="templates" item="vo"}
                                        <option value="{$vo}" {if condition="$sys.site_tpl eq $vo" } selected="selected" {
                                        /if}>{$vo}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="site_tpl_m"> 站点主题(手机) </label>
                                <div class="col-sm-8 col-md-5">
                                    <select name="options[site_tpl_m]" id="site_tpl_m" class="form-control" required>
                                        {foreach name="templates" item="vo"}
                                        <option value="{$vo}" {if condition="$sys.site_tpl_m eq $vo" } selected="selected" {
                                        /if}>{$vo}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" id="pic_water">
                                <label class="col-sm-3 control-label no-padding-right" for="file_1"> 网站水印 </label>
                                <div class="col-sm-8 col-md-5">
                                    <input type="hidden" name="checkpic_1" id="checkpic_1" value="{$sys.site_water}"/>
                                    <input type="hidden" name="oldcheckpic_1" id="oldcheckpic_1" value="{$sys.site_water}"/>
                                    <input type="hidden" name="oldcheckpicname_1" id="oldcheckpicname_1" value="{$sys.site_water}"/>
                                    <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                        <input type="file" name="file1" id="file_1" multiple="multiple" data-field="1"/>
                                        选择上传文件
                                    </a>
                                    <a href="javascript:;" onclick="return backpic2('{$sys.site_water|get_imgurl}', 1);" title="还原修改前的图片" class="file">撤销上传</a>
                                    <div><img src="{$sys.site_water|get_imgurl}" height="70" id="img_1"></div>
                                </div>
                            </div>

                            <div class="form-group" id="pic_list">
                                <label class="col-sm-3 control-label no-padding-right" for="file0"> 网站LOGO </label>
                                <div class="col-sm-8 col-md-5">
                                    <input type="hidden" name="checkpic" id="checkpic" value="{$sys.site_logo}"/>
                                    <input type="hidden" name="oldcheckpic" id="oldcheckpic" value="{$sys.site_logo}"/>
                                    <input type="hidden" name="oldcheckpicname" id="oldcheckpicname" value="{$sys.site_logo}"/>
                                    <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                        <input type="file" name="file0" id="file0" multiple="multiple"/>
                                        选择上传文件
                                    </a>
                                    <a href="javascript:;" onclick="return backpic('{$sys.site_logo|get_imgurl}');" title="还原修改前的图片" class="file">撤销上传</a>
                                    <div><img src="{$sys.site_logo|get_imgurl}" height="70" id="img0"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="site_icp"> 备案信息 </label>
                                <div class="col-sm-8 col-md-5">
                                    <input type="text" name="options[site_icp]" id="site_icp" value="{$sys.site_icp}" class="form-control"/>
                                    <span class="help-inline col-xs-12 col-sm-8 col-md-5">
									<span class="middle"></span>
								</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-9"> 统计代码 </label>
                                <div class="col-sm-8 col-md-5">
                                    <textarea name="options[site_tongji]" cols="20" rows="2" class="form-control limited" id="form-field-9" maxlength="500">{$sys.site_tongji}</textarea>
                                    <input type="hidden" name="maxlengthone" value="500"/>
                                    <span class="help-inline col-xs-5 col-sm-8 col-md-5">
									还可以输入 <span class="middle charsLeft"></span> 个字符
								</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-10"> 版权信息 </label>
                                <div class="col-sm-8 col-md-5">
                                    <textarea name="options[site_copyright]" cols="20" rows="3" class="form-control limited1" id="form-field-10" maxlength="150">{$sys.site_copyright}</textarea>
                                    <input type="hidden" name="maxlengthone" value="150"/>
                                    <span class="help-inline col-xs-5 col-sm-8 col-md-5">
									还可以输入 <span class="middle charsLeft1"></span> 个字符
								</span>
                                </div>
                            </div>

                            <div class="form-group none">
                                <label class="col-sm-3 control-label no-padding-right" for="update_check"> 是否开启自动更新： </label>
                                <div class="col-sm-8 col-md-5" style="padding-top:5px;">
                                    <input name="update_check" id="update_check" {if condition='$Think.config.update_check eq 1' } checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
                                    <span class="lbl"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="geetest_on"> 后台极验验证： </label>
                                <div class="col-sm-8 col-md-5" style="padding-top:5px;">
                                    <input name="geetest_on" id="geetest_on" {if condition="config('geetest.geetest_on')" } checked{/if} value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
                                    <span class="lbl"><a href="http://www.geetest.com" target="_blank" style="margin-left: 10px;"><span class="label label-lg label-pink">申请：http://www.geetest.com</span></a></span>
                                    <span class="help-inline">需开启路由</span>
                                </div>
                            </div>

                            <div id="geetest" {if condition="config('geetest.geetest_on') eq 0" } style="display: none;" {
                            /if}>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="captcha_id"> 极验captcha_id：</label>
                                <div class="col-sm-8 col-md-5">
                                    <input type="text" name="captcha_id" id="captcha_id" value="{:config('geetest.captcha_id')}" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="private_key"> 极验private_key： </label>
                                <div class="col-sm-8 col-md-5">
                                    <input type="password" name="private_key" id="private_key" value="{:config('geetest.private_key')}" class="form-control"/>
                                    <span class="help-inline col-xs-12 col-sm-8 col-md-5">
									<span class="lbl"></span>
								</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ----------------------------- basic settings end ----------------------------- -->


                    <!-- ----------------------------- contact ----------------------------- -->
                    <div id="contact" class="tab-pane fade">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="site_co_name"> 公司名称 </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="text" name="options[site_co_name]" id="site_co_name" value="{$sys.site_co_name}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="site_address"> 公司地址 </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="text" name="options[site_address]" id="site_address" value="{$sys.site_address}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="map_lat"> 地图lat </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="text" name="options[map_lat]" id="map_lat" value="{$map_lat}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="map_lng"> 地图lng </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="text" name="options[map_lng]" id="map_lng" value="{$map_lng}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="site_tel"> 联系电话 </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="text" name="options[site_tel]" id="site_tel" value="{$sys.site_tel}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="site_admin_email"> 站长邮箱 </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="email" name="options[site_admin_email]" id="site_admin_email" value="{$sys.site_admin_email}" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="site_qq"> 站长QQ </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="number" name="options[site_qq]" id="site_qq" value="{$sys.site_qq}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <!-- ----------------------------- contact end ----------------------------- -->


                    <!-- ----------------------------- SEO ----------------------------- -->
                    <div id="seo" class="tab-pane fade">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="site_seo_title"> 首页SEO标题 </label>
                            <div class="col-sm-8 col-md-5">
                                <input type="text" name="options[site_seo_title]" id="site_seo_title" value="{$sys.site_seo_title}" class="col-xs-10 col-sm-7"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-11"> 首页SEO关键字 </label>
                            <div class="col-sm-8 col-md-5">
                                <textarea name="options[site_seo_keywords]" cols="20" class="col-xs-10 col-sm-7 limited2" id="form-field-11" maxlength="100">{$sys.site_seo_keywords}</textarea>
                                <input type="hidden" name="maxlength" value="100"/>
                                <span class="help-inline col-xs-5 col-sm-8 col-md-5">
									还可以输入 <span class="middle charsLeft2"></span> 个字符,以英文 , 号隔开
								</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-12"> 首页SEO描述 </label>
                            <div class="col-sm-8 col-md-5">
                                <textarea name="options[site_seo_description]" cols="20" rows="4" class="col-xs-10 col-sm-7 limited3" id="form-field-12" maxlength="200">{$sys.site_seo_description}</textarea>
                                <input type="hidden" name="maxlengthone" value="200"/>
                                <span class="help-inline col-xs-5 col-sm-8 col-md-5">
									还可以输入 <span class="middle charsLeft3"></span> 个字符
								</span>
                            </div>
                        </div>
                    </div>
                    <!-- ----------------------------- SEO end ----------------------------- -->


                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-8 col-md-5 col-sm-offset-3">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    保存
                                </button>
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
