{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">
    <!--主题-->
    <div class="page-header">
        <h1>
            您当前操作
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {if condition="$video"}
                修改视频信息：{$video.title}
                {else}
                添加视频信息
                {/if}
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal ajaxForm2" name="form0" method="post" action="{:url('admin/Video/save')}" enctype="multipart/form-data">
                {if condition="$video"}
                <input type="hidden" name="video_id" value="{$video.video_id}"/>
                {/if}
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="title"> 标题： </label>
                    <div class="col-sm-10">
                        <input type="text" name="title" id="title" placeholder="必填：标题" class="col-xs-10 col-sm-6" required value="{if condition='$video'}{$video.title}{/if}"/>
                        <span class="help-inline col-xs-12 col-sm-7">
								<span class="middle" id="resone"></span>
							</span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-src"> 视频源： </label>
                    <div class="col-sm-10">
                        <input type="text" name="video_src" id="form-src" placeholder="必填：视频源" class="col-xs-10 col-sm-6" required value="{if condition='$video'}{$video.video_src}{/if}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="file0">图片上传： </label>
                    <div class="col-sm-10">
                        <a href="javascript: void(0);" class="file">
                            <input type="file" name="pic" id="file0"/>
                            选择上传文件
                        </a>
                        {if condition="$video"}
                        <span class="lbl">
								<img src="{$video.video_pic|get_imgurl}" height="70" id="img0">
                        </span>
                        <a href="javascript: void(0);" onclick="return backpic('{$video.video_pic|get_imgurl}');" title="还原修改前的图片" class="file">撤销修改</a>
                        {else}
                        <span class="lbl">
                                <img src="__PUBLIC__/img/no_img.jpg" height="70" id="img0">
                        </span>
                        <a href="javascript: void(0);" onClick="return backpic('__PUBLIC__/img/no_img.jpg');" title="还原修改前的图片" class="file">撤销上传</a>
                        {/if}
                        <span class="lbl">上传前先用PS处理成等比例图片后上传，最后都统一比例<br/></span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="my-editor"> 介绍： </label>
                    <div class="col-sm-9">
                        <script src="__PUBLIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
                        <script src="__PUBLIC__/ueditor/ueditor.all.js" type="text/javascript"></script>
                        <textarea name="bodytext" rows="10" style="width: 100%" id="my-editor">{if condition='$video'}{$video.bodytext}{/if}</textarea>
                        <script type="text/javascript">
                            var editor = new UE.ui.Editor();
                            editor.render("my-editor");
                        </script>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-visitor"> 访问次数： </label>
                    <div class="col-sm-10">
                        <input type="text" name="visitor" id="form-visitor" placeholder="访问次数" class="col-xs-10 col-sm-6" value="{if condition='$video'}{$video.visitor}{/if}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="form-sorting"> 排序（从小到大）： </label>
                    <div class="col-sm-10">
                        <input type="text" name="sorting" value="{if condition='$video'}{$video.sorting}{else}1{/if}" class="col-xs-10 col-sm-1" id="form-sorting"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <input class="ace ace-checkbox-2" name="continue" type="checkbox" value="1" title=""/>
                        <span class="lbl"> 发布后继续</span>
                        <button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>保存</button>
                        <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- /.page-content -->
{/block}
{block name="scripts"}
{/block}